<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test" thread-count="2" parallel = "true" >
    <classes>
      <class name="Gmail.Gmail.Gmaillogintest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
